*.mp4
*.avi
*.pt
/__pycache__/
*.log
*.pth
v7/yolov7
Detection_dev/car_detection/runs
model_training/v1/runs/
model_training/v1/Car-Detection-Model-19/
model_training/v1/.env
model_training_v0/Car-Detection-Model-19/train/
model_training_v0/Car-Detection-Model-19/test/
model_training_v0/Car-Detection-Model-19/valid/
data/
Detection_dev/v7
.github/
*/__pycache__/
*.log
*.pyc
*.cpython-312
*.cpython-312.pyc
* - Copy.py

# custom models for roi
!Detection_dev/algorithms/lane_detection/*.pt