bytetrack_custom.yaml
environment.yaml
filmtodata.py
setup.sh
edge_tpu_silvia.txt

benchmark_roi_sahi.py

milestone/
misc/
depth/
output/
YOLObenchmarks/CARLA_test/
YOLObenchmarks/CARLA_test2/
YOLObenchmarks/CARLA_test3/
YOLObenchmarks/Sahi_roi/
YOLObenchmarks/clear_model_best/

.venv/
.python-version
*.tflite

__pycache__/
*.py[cod]
*$py.class
.DS_Store

