320_best_benchmark.csv
320_best_frame.jpg
480_best_benchmark.csv
480_best_frame.jpg
YOLObenchmarks/_best_last_frame.jpg
sahi_metrics_output.csv
sahi_ostatnia_klatka.jpg
wynik_reczny.jpg
stat_yolo26/performance_log.txt
benchmark_roi_sahi.py
bytetrack_custom.yaml
dataset.yaml
detectfromphoto.py
environment.yaml
filmtodata.py
setup.sh

dataset/
milestone/
misc/
depth/
output/
YOLObenchmarks/CARLA_test/
YOLObenchmarks/CARLA_test2/
YOLObenchmarks/CARLA_test3/
YOLObenchmarks/Sahi_roi/
YOLObenchmarks/clear_model_best/

YOLOmodels/
.venv/
.python-version
*.tflite

__pycache__/
*.py[cod]
*$py.class
.DS_Store

../runs/